#body {
	background-color: lightgrey;
	font: 12px/16px Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif
}

#content {
	margin: auto;
	position: relative;
	width: 960px;
	background-color: white;
	min-height: 1000px;
	margin-top: 0px;
	border-width: 0px 1px;
	border-color: grey;
	border-style: solid;
	padding: 10px;
}
#table {
	margin: auto;
}
#table td {
	padding: 0px 10px;
	border: 1px solid grey;
}